{% extends 'admin/master.html' %}
{% block body %}
{% if current_user.is_authenticated %}
<h1>Chao mung ban den trang admin</h1>
<h3>hello {{current_user.name}}</h3>
{% else %}
<h1 class="text-success text-center mt-1">DANG NHAP ADMIN</h1>
<form action="/login-admin" method="post">
    <div class="mb-3 mt-3">
        <label for="username" class="elform-lab">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username"/>
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password"/>
    </div>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
{% endif %}
{% endblock %}